.pro {
	background-color:#A8D08D;
}

.ent {
	background-color:#92D050;
}

.bd {
	background-color:#FFC000;
}

.sasp {
	background-color:#FF99FF;
}

.dasp {
	background-color:#FFFF00;
}

.it {
	background-color:#BDD6EE;
}

.ipe-i {
	background-color:#00D5D5;
}

.lmsgi {
	background-color:#00B0F0;
}