body {
    font-family:arial;
}

h1 {
    text-align:center;
    color:#0077AA;
    font-variant:small-caps;
    letter-spacing:5px;
}

table {
    margin:50px auto;
    border:1px solid #191970;
    background-color:#EFEFFF;
    border-collapse:separate;
    border-spacing:10px;
	empty-cells:hide;
    caption-side:bottom;
	width:60%;
}

caption {
    font-style:italic;
    font-size:0.8em;
    margin-top:5px;
}

thead th {
    background-color:#0077AA;
    color:#FFFFFF;
    padding:5px 15px;
    font-variant:small-caps;
    font-size:0.9em;
    border:none;
}

tbody th {
    color:#000000;
    font-weight:bold;
    text-align:center;
}

tbody td {
    background-color:#FFFFFF;
    border:1px inset #CCCCCC;
    padding:5px;
    text-align:right;
    min-width:40px;
}

tfoot th {
    background-color:#0077AA;
    color:#FFFFFF;
    font-variant:small-caps;
    padding:5px;
}

tfoot td {
    background-color:#CCCCCC;
    color:#191970;
    font-weight:bold;
    border:none;