body {
	background-color:black;
	color:white;
	font-family:arial;
	font-size:18px;
}

h1 {
	font-weight:lighter;
	font-size:50px;
	text-align:center;
	font-family:impact;
	letter-spacing:4px;
}

#encabezado {
	font-size:25px;
	text-align:center;
	font-variant:small-caps;
}

.autor {
	font-weight:bold;
	background-color:gray;
}

.destacado {
	font-variant:small-caps;
	font-size:25px;
	color:yellow;
}

.subapartado {
	color:red;
	font-weight:bold;
}

#lista1 {
	list-style-type:square;
}

#lista2 {
	list-style-type:lower-alpha;
}

#lista3 {
	list-style-type:decimal;
}

#header {
	width:100%;
}