h1 {
	text-decoration:overline;
	color:#0D8FCF;
	word-spacing:10pt;
	font-family:arial;
	font-weight:24;
	font-variant:small-caps;
	font-weight:bold;
}

h2 {
	word-spacing:-2pt;
	text-transform:capitalize;
}

em {
	text-transform:uppercase;
}

p {
	text-indent:24pt;
}

#par3, #par4 {
	word-spacing:8pt;
}

#par3 {
	line-height:1.5em;
}

#par4 {
	white-space:nowrap;
}